<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="https://images.assetsdelivery.com/compings_v2/arhimicrostok/arhimicrostok1705/arhimicrostok170506273.jpg"
        id="icon"
        alt="User Icon"
      />
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="email"
        class="fadeIn second"
        name="email"
        [(ngModel)]="loginUserData.email"
        placeholder="email"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        [(ngModel)]="loginUserData.password"
        placeholder="password"
      />
      <input
        (click)="loginUser()"
        type="submit"
        class="fadeIn fourth"
        value="Log In"
      />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>Don't have any account?</p>
      <a class="underlineHover" routerLink="/registration"
        >click here to create
      </a>
    </div>
  </div>
</div>
